body {
  background-color: #0c0b11;
  background-image: url("../../assets/img/Shooting\ Star\ Logo\ Sticker\ by\ XG\ Official.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px;
  z-index: -1;
  font-family: jura, sans-serif;
}

.text2 {
  margin-top: 90px;
}

.grid-container {
  display: grid;
  gap: 10px;
  height: 100vh;
  padding: 10px;
  color: white;
  box-sizing: border-box;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);

  grid-template-areas:
    "header header square"
    "text-long center-main text-right"
    "text-long center-main gif-right"
    "map center-main gif-right"
    "gif-left center-main graphic"
    "gif-left center-main graphic";
}

.grid-header {
  grid-area: header;
}
.grid-square {
  grid-area: square;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.grid-text-long {
  grid-area: text-long;
  overflow: auto;
}

.grid-map {
  grid-area: map;
  overflow: hidden;
  padding: 0;
}

#carte {
  width: 100%;
  height: 100%;
}

.grid-text-right {
  grid-area: text-right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-gif-right {
  grid-area: gif-right;
}

.grid-gif-left {
  grid-area: gif-left;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}
.grid-center-main {
  grid-area: center-main;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-graphic {
  grid-area: graphic;
}

.grid-gif-right {
  grid-area: gif-right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.grid-container > div {
  border: 1.5px solid white;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.text1 {
  color: white;
  font-size: 27px;
}
.text2 {
  color: white;
  text-align: center;
}
.gala {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.XG {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

.chart-container {
  width: 100%;
  height: 100%;
}

.btn-primary {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
}

.battery-casing {
  width: 250px;
  height: 55px;
  border: 4px solid #fff;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

.battery-cap {
  width: 10px;
  height: 25px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.battery-level {
  width: 0%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  transform-origin: left;
}

.zdog-canvas {
  width: 90px;
  height: 55px;
  display: block;
}
